<div ng-controller="StorageCtrl as storageCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" >
        <div class="col-lg-10">
            <h2>
                {[ storageCtrl.projectName ]} {[ storageCtrl.title ]}
            </h2>
            <ol class="breadcrumb">
                <li>
                    {[ storageCtrl.title ]}
                </li>
                <li>
                    <a ui-sref="index.storage_projects">Projects</a>
                </li>
                <li>
                    <a>{[ storageCtrl.projectName ]}</a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>


    <div class="wrapper wrapper-content animated fadeInRight" ng-init="storageCtrl.listStorage()">
        <div class="col-lg-16">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Filter by tags:</h5>

                    <div class="ibox-tools tag-selector">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true" onclick="return false;">
                            <i class="fa fa-tags"></i>
                        </a>
                        <div class="dropdown-menu dropdown-user">
                            <form class="form-horizontal m-t-md" action="#">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Tag Key</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="storageCtrl.tagKey">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Tag value</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="storageCtrl.tagValue">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-7">
                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" ng-click="storageCtrl.filterByTag(storageCtrl.tagKey, storageCtrl.tagValue)">
                                            <strong>Ok</strong>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="ibox-content" ng-show="storageCtrl.tags.length > 0" style="padding: 1px 20px 5px 20px">
                    <div class="row">
                        <ul class="tag-list" style="padding: 0">
                            <li  ng-repeat="tag in storageCtrl.tags" ng-click="storageCtrl.removeTagFilter(tag.key, tag.value)">
                                <a href="#" class="help" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Click on tag to remove it from filter">
                                    <i class="fa fa-tag"></i> {[tag.key]} = {[tag.value]}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="storageCtrl.storage.length > 0">
            <div class="row" >
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Volume used x Available (GB)</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas tc-chartjs chart-type="doughnut" chart-options="storageCtrl.doughnutOptions" chart-data="storageCtrl.graph1" height="140" chart-click="storageCtrl.filter('storage_type', 'Volume', data)"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Volume used x Available (unit)</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas tc-chartjs chart-type="doughnut" chart-options="storageCtrl.doughnutOptions" chart-data="storageCtrl.graph2" height="140" chart-click="storageCtrl.filter('storage_type', 'Volume', data)"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Attached x Detached Volumes</h5>

                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas tc-chartjs chart-type="doughnut" chart-options="storageCtrl.doughnutOptions" chart-data="storageCtrl.graph3" height="140" chart-click="storageCtrl.filter('attached', null, data)"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Snapshot used x Available (GB)</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas tc-chartjs chart-type="doughnut" chart-options="storageCtrl.doughnutOptions" chart-data="storageCtrl.graph4" height="140" chart-click="storageCtrl.filter('storage_type', 'Snapshot', data)"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Snapshot used x Available (unit)</h5>
                        </div>
                        <div class="ibox-content">
                            <div>
                                <canvas tc-chartjs chart-type="doughnut" chart-options="storageCtrl.doughnutOptions" chart-data="storageCtrl.graph5" height="140" chart-click="storageCtrl.filter('storage_type', 'Snapshot', data)"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Snapshot Age</h5>
                        </div>
                        <div class="ibox-content">
                            <div ng-show="storageCtrl.getSnapshots().length > 0">
                                <canvas tc-chartjs chart-type="doughnut" chart-options="storageCtrl.doughnutOptions" chart-data="storageCtrl.graph6" height="140" chart-click="storageCtrl.filter('created_at', null, data)"></canvas>
                            </div>
                            <div ng-hide="storageCtrl.getSnapshots().length > 0" style="height:133px">
                                <p style="text-align: center">
                                    <i class="fa fa-warning fa-4x"></i>
                                </p>
                                <p style="text-align: center">
                                    Your projects doesn't have snapshots
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="storageCtrl.getStorage().length > 0">
            <!-- startrow3 -->
            <div class="row">
                <div class="col-lg-12" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{[ storageCtrl.title ]}</h5>
                        </div>
                        <div class="ibox-content">
                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Storage</th>
                                        <th>State</th>
                                        <th>Size</th>
                                        <th>Zone</th>
                                        <th>Creation date</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="storage in storageCtrl.getStorage()" >
                                        <td>{[storage.name]}</td>
                                        <td>{[storage.storage_type]}</td>
                                        <td>{[storage.state]}</td>
                                        <td>{[storage.size | byte:2]}</td>
                                        <td>{[storage.zone_name || '-']}</td>
                                        <td>{[storage.created_at | date: 'dd/MM/yyyy hh:mm']}</td>
                                        <td>{[storage.type]}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- endrow3 -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>