<div ng-controller="ProjectCtrl as projectCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" >
        <div class="col-lg-10">
            <h2>
                {[ projectCtrl.title ]}
            </h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="index.main" >Home</a>
                </li>
                <li>
                    <a ui-sref="index.instances.list">Projects</a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div ui-view ></div>
</div>