<div ng-controller="AuditingCtrl as auditingCtrl" ng-init="auditingCtrl.getEvent()">
    <div class="row wrapper border-bottom white-bg page-heading" >
        <div class="col-lg-10">
            <h2>
               Event #{[ event.id ]}
            </h2>
             <ol class="breadcrumb">
                <li>
                    <a ui-sref="index.auditing({'region': region.key})">{[ auditingCtrl.title ]}</a>

                </li>
                <li>
                    <a>{[ event.id ]}</a>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content">

    <div class="ibox">
        <div class="ibox-content">
            <div class="row">
                    <div class="col-lg-12">
                        <dl class="dl-horizontal" ng-repeat="(key, value) in event.details">
                            <dt>{[ key ]}:</dt> <dd>{[ value ]}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>