<div ng-controller="InstanceCtrl as instanceCtrl" ng-init="instanceCtrl.load(main)">
    <div class="row wrapper border-bottom white-bg page-heading" >
        <div class="col-lg-10">
            <h2>{[ instanceCtrl.title ]}</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="index.main" >Home</a>
                </li>
                <li >
                    <strong>Instances</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div ui-view ></div>
</div>