<div ng-controller="InstanceCtrl as instanceCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" >
        <div class="col-lg-10">
            <h2>
                {[ instanceCtrl.projectName ]} {[ instanceCtrl.title ]}
            </h2>
            <ol class="breadcrumb">
                <li>
                    {[ instanceCtrl.title ]}
                </li>
                <li>
                    <a ui-sref="index.instances_projects">Projects</a>
                </li>
                <li>
                    <a>{[ instanceCtrl.projectName ]}</a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="instanceCtrl.listVirtualMachines()">
        <div class="col-lg-16">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Filter by tags:</h5>

                    <div class="ibox-tools tag-selector">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true" onclick="return false;">
                            <i class="fa fa-tags"></i>
                        </a>
                        <div class="dropdown-menu dropdown-user">
                            <form class="form-horizontal m-t-md" action="#">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Tag Key</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="instanceCtrl.tagKey">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Tag value</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" ng-model="instanceCtrl.tagValue">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-7">
                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="button" ng-click="instanceCtrl.filterByTag(instanceCtrl.tagKey, instanceCtrl.tagValue)">
                                            <strong>Ok</strong>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="ibox-content" ng-show="instanceCtrl.tags.length > 0" style="padding: 1px 20px 5px 20px">
                    <div class="row">
                        <ul class="tag-list" style="padding: 0">
                            <li  ng-repeat="tag in instanceCtrl.tags" ng-click="instanceCtrl.removeTagFilter(tag.key, tag.value)">
                                <a href="#" class="help" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Click on tag to remove it from filter">
                                    <i class="fa fa-tag"></i> {[tag.key]} = {[tag.value]}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="instanceCtrl.instances.length > 0">
            <div class="row">
                <div class="col-lg-4" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Compute Offering</h5>
                            <a class="fa fa-question-circle tip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compute Offering defines the features and capabilities of intances such as number of CPUs, CPU speed, memory RAM size and other."></a>
                        </div>
                        <div class="ibox-content vm-feature-box">
                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Compute Offering</th>
                                        <th>Instances</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vm-feature" ng-class="{'feature-filter': instanceCtrl.isFilteredField('service_offering_name', item.name)}" ng-repeat="item in instanceCtrl.getVmCountByFeature('serviceofferingname') | orderBy:'-count'" >
                                        <td  ng-click="instanceCtrl.filter('Compute Offering', 'service_offering_name', item.name)">{[item.name]}</td>
                                        <td  ng-click="instanceCtrl.filter('Compute Offering', 'service_offering_name', item.name)">{[item.count]}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>State</h5>
                            <a class="fa fa-question-circle tip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Current state of instance, can be Starting, Running, Stopping, Stopped, Migrating, Error, Unknown, Shutdowned, Destroyed or Expunging."></a>
                        </div>
                        <div class="ibox-content vm-feature-box">
                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <th>State</th>
                                        <th>Instances</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vm-feature" ng-class="{'feature-filter': instanceCtrl.isFilteredField('state', item.name)}"  ng-repeat="item in instanceCtrl.getVmCountByFeature('state') | orderBy:'-count'" >
                                        <td ng-click="instanceCtrl.filter('State', 'state', item.name)">{[item.name]}</td>
                                        <td ng-click="instanceCtrl.filter('State', 'state', item.name)">{[item.count]}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Zones</h5>
                            <a class="fa fa-question-circle tip" data-toggle="tooltip" data-placement="top" title="" data-original-title="A zone typically corresponds to the datacenter area with physical isolation and redundancy of resources."></a>
                        </div>
                        <div class="ibox-content vm-feature-box">
                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Zone name</th>
                                        <th>Instances</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vm-feature" ng-class="{'feature-filter': instanceCtrl.isFilteredField('zone_name', item.name)}"  ng-repeat="item in instanceCtrl.getVmCountByFeature('zonename') | orderBy:'-count'" >
                                        <td ng-click="instanceCtrl.filter('Zone', 'zone_name', item.name)">{[item.name]}</td>
                                        <td ng-click="instanceCtrl.filter('Zone', 'zone_name', item.name)">{[item.count]}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- endrow1 -->
            <!-- startrow2 -->
            <div class="row">
                <div class="col-lg-4" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Operational System</h5>
                            <a class="fa fa-question-circle tip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Operational system and version running on the instance."></a>
                        </div>
                        <div class="ibox-content vm-feature-box">
                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Operational System</th>
                                        <th>Instances</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vm-feature" ng-class="{'feature-filter': instanceCtrl.isFilteredField('os_type_name', item.name)}"  ng-repeat="item in instanceCtrl.getVmCountByFeature('ostypename') | orderBy:'-count'" >
                                        <td ng-click="instanceCtrl.filter('Operational System', 'os_type_name', item.name)">{[item.name]}</td>
                                        <td ng-click="instanceCtrl.filter('Operational System', 'os_type_name', item.name)">{[item.count]}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>HA</h5>
                            <a class="fa fa-question-circle tip" data-toggle="tooltip" data-placement="top" title="" data-original-title="When an HA enabled VM crashes, IaaS detects the crash and restarts the VM automatically within the same Availability Zone."></a>
                        </div>
                        <div class="ibox-content vm-feature-box">
                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <th>High Availability</th>
                                        <th>Instances</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vm-feature" ng-class="{'feature-filter': instanceCtrl.isFilteredField('ha_enabled', item.name)}" ng-repeat="item in instanceCtrl.getVmCountByFeature('haenable') | orderBy:'-count'" >
                                        <td ng-click="instanceCtrl.filter('High Availability', 'ha_enabled', item.name)">{[item.name == 'true' ? 'Enabled' : 'Disabled']}</td>
                                        <td ng-click="instanceCtrl.filter('High Availability', 'ha_enabled', item.name)">{[item.count]}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Hosts</h5>
                            <a class="fa fa-question-circle tip" data-toggle="tooltip" data-placement="top" title="" data-original-title="Physical server that hosts the instance."></a>
                        </div>
                        <div class="ibox-content vm-feature-box">
                            <table class="table table-bordered" >
                                <thead>
                                    <tr>
                                        <th>Host name</th>
                                        <th>Instances</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vm-feature" ng-class="{'feature-filter': instanceCtrl.isFilteredField('host_name', item.name)}" ng-repeat="item in instanceCtrl.getVmCountByFeature('hostname') | orderBy:'-count'" >
                                        <td ng-click="instanceCtrl.filter('Host', 'host_name', item.name)">{[item.name]}</td>
                                        <td ng-click="instanceCtrl.filter('Host', 'host_name', item.name)">{[item.count]}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" ></div>
            </div>
            <!-- endrow2 -->

            <!-- startrow3 -->
            <div class="row">
                <div class="col-lg-12" >
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{[ instanceCtrl.title ]}</h5>
                            <div class="ibox-tools">
                                <a ng-click="instanceCtrl.clearFilters()">Clean filters</a>
                                <a ng-click="instanceCtrl.clearFilters()" class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Compute Offering</th>
                                        <th>Operational System</th>
                                        <th>Host</th>
                                        <th>Zone</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="instance in instanceCtrl.getInstances()" >
                                        <td>{[instance.name]}</td>
                                        <td>{[instance.service_offering_name || '-']}</td>
                                        <td>{[instance.os_type_name]}</td>
                                        <td>{[instance.host_name || '-']}</td>
                                        <td>{[instance.zone_name]}</td>
                                        <td>
                                            <span ng-class="{Running:'label label-primary', Stopped:'label label-danger'}[instance.state]">
                                                {[instance.state]}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- endrow3 -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>