<div class="wrapper wrapper-content animated fadeInRight" ng-init="instanceCtrl.getVmCount()">
    <!-- startrow1 -->
    <div class="row">
    	<div class="col-lg-4" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Service Offering</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <th>Offerings</th>
                            <th>Instances</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(name, count) in instanceCtrl.vmCount.serviceofferingname" >
                            <td>{[name]}</td>
                            <td>{[count]}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
      	</div>
        <div class="col-lg-4" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>State</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th>State</th>
                                <th>Instances</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(state, count) in instanceCtrl.vmCount.state" >
                                <td>{[state]}</td>
                                <td>{[count]}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        
        <div class="col-lg-4" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Zone</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th>Zone</th>
                                <th>Instances</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(name, count) in instanceCtrl.vmCount.zonename" >
                                <td>{[name]}</td>
                                <td>{[count]}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- endrow1 -->
    <!-- startrow2 -->
    <div class="row">
    	<div class="col-lg-4" ></div>
    	<div class="col-lg-4" >
    		<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>HA</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th>HA</th>
                                <th>Instances</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(name, count) in instanceCtrl.vmCount.haenable" >
                                <td>{[name]}</td>
                                <td>{[count]}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
    	</div>
    	<div class="col-lg-4" >
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Host</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered" >
                        <thead>
                            <tr>
                                <th>Hosts</th>
                                <th>Instances</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(hostname, count) in instanceCtrl.vmCount.hostname" >
                                <td>{[hostname]}</td>
                                <td>{[count]}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- endrow2 -->

    <!-- startrow3 -->
    <div class="row" ng-init="instanceCtrl.listVirtualMachines()">
        <div class="col-lg-12" >
            <div class="ibox-title">
                <h5>Instances</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Internal Name</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="instance in instanceCtrl.instances" >
                            <td>{[instance.name]}</td>
                            <td>{[instance.instance_name]}</td>
                            <td>{[instance.state]}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- endrow3 -->
</div>
