<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                        <img alt="image" class="img-circle" src="{[userCtrl.user.picture]}" height="50" width="50" />
                         </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{[userCtrl.user.first_name]} {[userCtrl.user.last_name]}</strong>
                         </span> <span class="text-muted text-xs block">{[userCtrl.user.account_name]}<b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IAAS
                </div>
            </li>
            <li ng-class="{active: ($state.includes('index.instances') || $state.includes('index.instances_projects'))}">
                <a ui-sref="index.instances_projects({'region': region.key})">
                    <i class="fa fa-desktop"></i>
                    <span class="nav-label">Instances</span>
                </a>
            </li>
            <li ng-class="{active: ($state.includes('index.storage') || $state.includes('index.storage_projects'))}">
                <a ui-sref="index.storage_projects({'region': region.key})">
                    <i class="fa fa-database"></i>
                    <span class="nav-label">Storage</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('index.usage')}">
                <a ui-sref="index.usage({'region': region.key})">
                    <i class="fa fa-calculator"></i>
                    <span class="nav-label">Resource Usage</span>
                </a>
            </li>
            <li ng-class="{active: ($state.includes('index.quota') || $state.includes('index.quota_projects'))}">
                <a ui-sref="index.quota_projects({'region': region.key})">
                    <i class="fa fa-tachometer"></i>
                    <span class="nav-label">Resource Quota</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('index.capacity')}">
                <a ui-sref="index.capacity({'region': region.key})">
                    <i class="fa fa-cloud"></i>
                    <span class="nav-label">Cloud Capacity</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('index.auditing')}">
                <a ui-sref="index.auditing({'region': region.key})">
                    <i class="fa fa-eye"></i>
                    <span class="nav-label">Auditing</span>
                </a>
            </li>
        </ul>
    </div>
</nav>