<div ng-controller="RegionCtrl as regionCtrl">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <span minimaliza-sidebar></span>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a class="right-sidebar-toggle" ng-click="regionCtrl.toggleSelector()">
                        <i class="fa fa-cloud"></i> <small class="label label-success">{[regionCtrl.getCurrentRegion().value]}</small>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div id="right-sidebar" style="opacity: 0.8;" ng-class="regionCtrl.selectorClass">
        <div class="sidebar-container">
            <div class="tab-content" >
                <div id="tab-1" class="tab-pane active">
                    <div class="sidebar-title">
                        <h3> Select region</h3>
                    </div>
                    <ul class="sidebar-list">
                        <li ng-repeat="region in regionCtrl.listRegions()">
                             <div class="sidebar-message">
                                 <div class="media-body">
                                    <a href="#" onclick="return false;">
                                        <span ng-click="regionCtrl.changeRegion(region)"> <i class="fa fa-globe" ></i> {[region.value]}</span>
                                    </a>
                                 </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>