<div ng-controller="CapacityCtrl as capacityCtrl">
    <div class="row wrapper border-bottom white-bg page-heading" >
        <div class="col-lg-10">
            <h2>
                {[ capacityCtrl.title ]}
            </h2>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight" ng-init="capacityCtrl.getCapacityReport()">
        <div class="row">
            <div ng-repeat="zone in capacityCtrl.zones | orderBy:capacityCtrl.orderByZone">
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{[ zone ]}</h5>
                        </div>
                        <div class="ibox-content">
                            <div ng-repeat="resource in capacityCtrl.capacityReport[zone] | orderBy:capacityCtrl.orderByResourceType">
                                <div>
                                    <span>{[ resource.type ]} (<strong>{[ resource.percent_used]} %</strong>)</span>
                                    <small class="pull-right">
                                        {[capacityCtrl.getCapacity(resource.type, resource.capacity_used)]} / {[capacityCtrl.getCapacity(resource.type, resource.capacity_total)]}
                                    </small>
                                </div>
                                <div class="progress progress-small">
                                    <div style="width: {[ resource.percent_used ]}%;" class="progress-bar" ng-class="{'progress-bar-danger': capacityCtrl.isAlertLevel(resource)}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>