{% extends 'layout.html' %}


{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Instances</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Instances</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12" ng-init="main.countVmsByProject()">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Instances by project </h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-bordered" >
                        <thead>
                        <tr>
                            <th>Projects</th>
                            <th>Instances</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="project in main.countVmsByProject">
                            <td>
                                <div ng-show="project.vm_count > 0">
                                    <a  href="/instances/{[project.name]}?project_id={[project.id]}">
                                        {[project.name]}
                                    </a>
                                </div>
                                <span ng-show="project.vm_count == 0">
                                    {[project.name]}
                                </span>
                            </td>
                            <td>{[project.vm_count]}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}