{% extends 'layout.html' %}

{% block content %}
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center m-t-lg">
                        <h1>
                            Menu 2
                        </h1>
                        <small>
                            Conteudo do menu 2
                        </small>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}